@import url("https://fonts.googleapis.com/css?family=Open+Sans%7CQuicksand:400,700");
.navbar-fixed-top {
    background-color: #fff;
    border-bottom: 1px solid #f5f5f5;
    z-index: 2025;
}
#cate hr {
    height: 2px;
    width: 70px;
    text-align: left;
    position: relative;
    background: #000;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 40px;
    border: 0;
}
@media (min-width: 992px) {
    #cover_special {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}
#footer2 {
    border-top: 2px solid #000;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #000;
}
.btn_main {
    color: #777;
    padding: 5px 8px;
    background-color: transparent;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bolder;
    border-radius: 0px;
    border: 2px solid #000;
    text-transform: uppercase;
    cursor: pointer;
}
.btn_main:hover,
.btn_main:focus,
btn_main:active {
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
}
.btn {
    color: #fff;
    padding: 5px 8px;
    background-color: #000;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bolder;
    border-radius: 0px;
    border: 2px solid #000;
    text-transform: uppercase;
}
.btn:hover,
.btn:focus,
btn:active {
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
}
.btn1 {
    color: #fff;
    padding: 5px 8px;
    background-color: #000;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: bolder;
    border-radius: 0px;
    border: 2px solid #000;
    text-transform: uppercase;
}
.btn-primary {
    color: #fff;
    background-color: #000;
    font-weight: bolder;
    border-radius: 0px;
    border: 2px solid #000;
    text-transform: uppercase;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    text-transform: uppercase;
}
.pull-left .btn1 {
    padding: 3px 8px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    text-transform: uppercase;
}
.pull-right .btn1 {
    display: inline-block;
    padding: 3px 6px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 0px;
    text-transform: uppercase;
}
/** about element **/
.pro {
    height: 160px;
    margin-bottom: 30px;
}
.pro {
    cursor: pointer;
}
.item1 {
    /** background: #fff;
     border-radius: 6px;
     **/
    -webkit-box-shadow: 6px 6px 5px 0px rgba(230, 227, 230, 1);
    -moz-box-shadow: 6px 6px 5px 0px rgba(230, 227, 230, 1);
    box-shadow: 6px 6px 5px 0px rgba(230, 227, 230, 1);
    height: 100%;
    border-top: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
}
.pinfo,
.pname,
.pdes,
.pprice {
    padding-left: 0px;
    padding-right: 0px;
}
.pprice {
    text-align: left;
}
.pdes {
    font-size: 12px;
}
/** #pinfo{
     margin: auto;
}
 **/
.item-img-box {
    height: 158px;
    position: absolute;
    left: 0;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/** .item-img-box img{
     width: 110px;
}
 **/
.item-img-box img {
    height: 160px;
}
.item-img-box .ft2 {
    width: 100%;
    object-fit: cover;
}
.item-img-box #ft {
    object-fit: cover;
    width: 7em;
    height: 7em;
}
.item-info {
    margin-top: 5px;
    height: 100%;
    position: absolute;
    right: 0;
}
.panel-body {
    padding: 10px 8px;
}
/** .panel-body{
     position: relative;
     padding: 10px 20px;
     left: 0;
     right: 0;
     height:100%;
}
 **/
.pprice {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
}
@media (max-width: 1199px) and (min-width: 992px) {
    .item-img-box #ft {
        width: 6em;
        height: 6em;
    }
}
@media (max-width: 767px) {
    .item-img-box #ft {
        width: 8em;
        height: 8em;
    }
    #pro {
        margin-bottom: 20px;
        border-bottom: 1px solid #e6e3e6;
    }
    .item1 {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        height: 100%;
        border-top: none;
        border-left: none;
    }
}
@media (max-width: 480px) {
    .item-info {
        padding-right: 0px;
        padding-left: 0px;
    }
    .pdes {
        text-align: left;
    }
}
.panel-footer1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 15px;
    margin-bottom: 10px;
}
.panel-body {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    line-height: 1.42857143;
    text-align: left;
}
#logo {
    /** height: 58px;
     **/
    width: 300px;
}
.navbar-header .navbar-brand {
    margin-top: 10px;
}
@media only screen and (max-width: 767px) {
    #logo {
        /** height: 30px;
         **/
        width: 200px;
    }
}
@media only screen and (min-width: 768px) {
    #logo {
        width: 245px;
    }
}
@media only screen and (max-width: 1200px) and (min-width: 768px) {
    .item-info {
        padding-right: 5px;
        padding-left: 5px;
    }
}
/** message color **/
.error,
.message,
.dmsg,
.cmsg,
.pmsg,
.emsg,
#bezorgkost {
    color: #000;
}
.dmsg {
    font-size: 16px;
    font-weight: 700;
}
#alertMsg {
    padding: 10px;
    font-size: 18px;
    color: #000;
}
.box #email,
.box span {
    color: #000;
}
table tr td a {
    padding: 2px;
    color: #000;
}
table tr td a:hover {
    padding: 2px;
    color: #000;
}
#choose_modal .modal-body {
    max-height: 50vh;
    /* max 80% of the viewport height */
    overflow-y: auto;
    padding: 20px 25px 25px;
    flex: 5;
}
#choose_modal .modal-header {
    border-color: transparent;
    padding: 0px;
    height: 35vh;
    flex: 1;
}
#choose_modal .modal-header .close {
    /** position: absolute;
     float: right;
     **/
    position: absolute;
    right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 0px;
    color: #fff;
    opacity: 1;
}
#choose_modal .modal-header img {
    height: 35vh;
}
#choose_modal .modal-header .ft2 {
    width: 100%;
    object-fit: cover;
}
#cover {
    width: 100px;
}
#ouders {
    margin-bottom: 4em;
}
#pro2 {
    height: 380px;
    margin-bottom: 15px;
}
.item2 {
    background: #fff;
    border-radius: 6px;
    height: 100%;
    border: 1px solid #e0e0e0;
}
.item2 .item-img-box2 {
    margin-top: 15px;
    margin-bottom: 15px;
}
.item2 .item-img-box2 .ft2 {
    width: 100%;
    object-fit: cover;
    height: 250px;
}
.item2 .item-info {
    padding: 15px;
}
.item2 h5 {
    margin-bottom: 0.5rem;
    color: #000;
}
#pro2 a {
    color: #000;
}
#pro2 a:hover,
#pro2 a:focus,
#pro2 s:active {
    color: #000;
}
.control-group h6 a {
    font-size: 1rem;
    margin-bottom: 0.9rem;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    color: #000;
    display: flex;
    align-items: center;
}
.control-group h6 a #symbol {
    margin-left: auto;
    color: #000;
}
/** bottom shopping cart **/
.shopCart {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    z-index: 2020;
    width: 100%;
    -webkit-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.75);
}
.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: #000;
    color: #000;
}
.content a {
    color: #fff;
}
.content a:hover,
.content a:active,
.content a:focus {
    color: #fff;
    font-weight: bolder;
}
/** .content .amount{
     font-size: 1.4rem;
     font-weight: 600;
}
 **/
.btn_cart1 {
    color: #fff;
    padding: 5px 15px;
    background-color: #000;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bolder;
    border-radius: 20px;
    border: 2px solid #000;
    text-transform: uppercase;
}
.btn_cart1:hover,
.btn_cart1:active,
.btn_cart1:focus {
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
}
.hidden {
    display: none;
}
.hide {
    display: none;
}
.overlay2 {
    content: "";
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 320px;
    z-index: -10;
    background: url(../images/head-image.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
}
.fix {
    position: fixed;
    top: 180px;
    width: 200px;
}
.sections {
    margin-top: 100px;
}
#frame {
    background: #fff;
    flex: 50%;
}
#frame h3 {
    margin: 10px;
}
#rname {
    padding: 24px 0;
}
.home_menu {
    margin-top: 88px;
}
.main_menu_bg #left {
    padding-left: 0px;
}
.main_menu_bg #center ul {
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 0px;
    margin-block-start: 0;
}
.main_menu_bg #right .top-nav {
    margin-block-start: 1em;
}
.top-nav {
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 0px;
}
.top-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 15px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
    .main_menu_bg #center {
        text-align: center;
    }
    .main_menu_bg #center ul {
        display: inline-block;
        margin: 0;
        zoom: 1;
        display: inline;
    }
}
.top-nav2 > li > p {
    padding-top: 0px;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    margin-block-start: 0;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.main_menu_bg {
    background-color: #f4f4f4;
}
@media screen and (max-width: 1199px) {
    .top-nav2 > li > p {
        margin-block-start: 1em;
        color: #000;
    }
    .top-nav > li > a {
        color: #808080;
    }
    .sections {
        /*padding-top: 180px;*/
    }
    .main_menu_bg #center ul {
        padding-left: 5px;
    }
}
/** #hscroll{
     overflow: auto;
     white-space: nowrap;
}
 **/
#hscroll {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    max-width: 100%;
    white-space: nowrap;
    overflow: auto;
}
#hscroll div {
    display: inline-block;
    padding: 10px 20px;
}
#hscroll div a {
    padding: 6px 0;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
#hscroll div a:hover,
#hscroll div a:focus {
    color: rgb(0, 0, 0);
    border-bottom: 4px solid #000;
}
#hscroll div a.active {
    color: rgb(0, 0, 0);
    border-bottom: 4px solid #000;
}
@media (max-width: 480px) {
    .item-img-box {
        padding-right: 0px;
    }
    .panel-footer1 {
        padding: 5px 10px;
    }
    .top-nav > li > a {
        font-size: 12px;
        color: #000;
    }
    .top-nav2 > li > p {
        font-size: 12px;
    }
    .nav > li > a {
        padding-left: 8px;
        padding-right: 8px;
    }
}
#dl {
    min-width: 220px;
    padding: 0px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    color: #000;
}
#dl > li > a {
    color: #000;
}
#dl > li > a:hover,
#dl > li > a:focus,
#dl > li > a:active {
    color: #fff;
    background: #d3d3d3;
}
@media (max-width: 767px) {
    #dl.dropdown-menu {
        right: 0;
        left: auto;
    }
}
.modal-title {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #000;
}
.line hr {
    text-align: center;
    background: #000;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    height: 2px;
    width: 70px;
    position: relative;
}
.text-muted {
    margin-top: 15px;
    margin-bottom: 15px;
}
#login-modal .modal-content,
#forgetPasswordModal .modal-content {
    border-radius: 0;
    padding: 10px;
}
@media (max-width: 768px) {
    #login-modal .modal-dialog,
    #forgetPasswordModal .modal-dialog {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    #login-modal .modal-content,
    #forgetPasswordModal .modal-content {
        min-height: 100%;
        /** height: auto;
         **/
        border-radius: 0;
        border: 0px;
    }
}
#loginform {
    padding: 20px;
    border: 1px solid #000;
}
#gegevens {
    padding-left: 0px;
}
#loginform h4 {
    font-size: 1rem;
    padding-bottom: 20px;
}
#loginform #forget {
    color: #777;
}
#im {
    text-transform: capitalize;
    color: #000;
    margin-bottom: 20px;
}
#pspace {
    padding-left: 0px;
}
.space {
    margin-bottom: 0px;
}
#end h4 {
    font-size: 1.4rem;
    margin-bottom: 0px;
}
#end p {
    color: #000;
    font-weight: 700;
}
#category {
    display: flex;
    align-items: center;
    justify-content: center;
}
#plink #link,
#plink .link2,
#plink .link1,
#plink .link3 {
    transform: translateZ(0);
    line-height: 1.4;
    font-size: 1.2rem;
    display: block;
    text-align: left;
    cursor: pointer;
    padding: 10px 0px;
    font-family: "Quicksand", sans-serif;
    color: #000;
    font-weight: 700;
}
#xinxi {
    min-height: 600px;
}
@media (min-width: 1200px) {
    #underline_text {
        border-bottom: 1px solid #000;
    }
}
.modal_title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
}
@media (min-width: 768px) {
    .modal-sm {
        width: 380px;
    }
}
.modal-content {
    border: none;
}
#donker {
    color: #000;
    font-weight: 900;
}
@media (max-width: 767px) {
    #paycard,
    #paycash {
        width: 120px;
        white-space: normal;
    }
}
#plink {
    padding-left: 0px;
}
#plink #change {
    margin-left: 0px;
}
#btns {
    padding-left: 0px;
}
#btns #change2 {
    margin-left: 0px;
}
#link1,
#link2,
#link3 {
    margin-top: 40px;
    margin-bottom: 40px;
}
.control-group {
    border-bottom: 1px solid #e7e6e6;
}
.cd-cart-items li #pro_qty {
    padding-right: 10px;
    width: 30px;
    text-align: left;
}
.cd-cart-items li #pro_img {
    width: 45px;
}
.cd-cart-items li #pro_img img {
    height: 45px;
    width: 100%;
    object-fit: cover;
}
.cd-cart-items li #pro_name {
    display: inline-block;
    width: 200px;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}
#min_plus {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
#end {
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .top-nav2 > li > p {
        font-size: 12px;
        font-weight: 400;
    }
    .top-nav > li > a {
        padding-bottom: 15px;
        font-size: 12px;
        font-weight: 400;
    }
}
@media (max-width: 400px) {
    #center {
        padding-right: 5px;
    }
    #right {
        padding-left: 5px;
    }
}
#regel_modal h5 {
    color: #000;
}
#regel_modal ul li {
    list-style-type: none;
}
#regel_modal ul li:before {
    /* Unicode bullet symbol */
    content: "\2022 ";
    color: #000;
    padding-right: 0.5em;
}
#regel_modal ul li b {
    color: #000;
}
#regel_modal .modal-body {
    padding: 25px;
}
#regel_modal_style {
    text-decoration: underline;
    color: #000;
}
#regel_modal_style:hover,
#regel_modal_style:focus,
#regel_modal_style:active {
    font-weight: bolder;
}
#empty h1 {
    color: #000;
}
.main_menu_bg {
    margin-top: 122px;
}
#cart2 table tbody tr td.cart_remove {
    text-align: right;
}
#cart2 thead th.table_center {
    text-align: center;
}
#cart2 table tbody tr td.table_center {
    text-align: center;
}
.modal {
    z-index: 2050;
}
table tr td #pro_img {
    width: 40px;
}
table tr td #pro_img img {
    height: 40px;
    width: 100%;
    object-fit: cover;
}
#pro_name_img {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /** justify-content: space-between;
     **/
    flex-wrap: nowrap;
    align-items: center;
}
#pro_name_img > div:last-child {
    padding-left: 5px;
    flex: 0 1 80%;
}
/** width=\"40%\" **/
.table > thead > tr > th {
    border-bottom: 0px;
}
#coupon {
    font-weight: bolder;
    font-size: 16px;
    text-decoration: underline;
}
#coupon:hover,
#coupon:focus,
#coupon:active {
    color: #32281c;
    text-decoration: underline;
}
#discount {
    padding-left: 0;
}
@media (max-width: 767px) {
    #discount {
        padding-right: 0;
        padding-left: 0;
    }
    #discount-btn {
        padding-left: 0;
    }
    #discount-btn .btn {
        margin-left: 0;
    }
}
#box-footer {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 414px) {
    #box-footer {
        display: flex;
        flex-flow: column;
    }
    #box-footer .pull-left .btn,
    #box-footer .pull-right .btn {
        margin-bottom: 10px;
        width: 100%;
    }
}
#payment_style {
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 0px;
    width: 100%;
    text-align: center;
}
@media (min-width: 415px) {
    #payment_style {
        margin-top: -43px;
    }
    #box-footer {
        align-items: center;
    }
    #box-footer .pull-left .btn,
    #box-footer .pull-right .btn {
        margin: 0px;
    }
}
