@charset "UTF-8";

.icon-clock:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-th:before { content: '\e803'; } /* '' */
.icon-ok:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-plus:before { content: '\e806'; } /* '' */
.icon-minus:before { content: '\e807'; } /* '' */
.icon-home:before { content: '\e808'; } /* '' */
.icon-lock:before { content: '\e809'; } /* '' */
.icon-lock-open:before { content: '\e80a'; } /* '' */
.icon-attach:before { content: '\e80b'; } /* '' */
.icon-eye:before { content: '\e80c'; } /* '' */
.icon-eye-off:before { content: '\e80d'; } /* '' */
.icon-upload:before { content: '\e80e'; } /* '' */
.icon-location:before { content: '\e80f'; } /* '' */
.icon-doc:before { content: '\e810'; } /* '' */
.icon-phone:before { content: '\e811'; } /* '' */
.icon-cog:before { content: '\e812'; } /* '' */
.icon-calendar:before { content: '\e813'; } /* '' */
.icon-left-dir:before { content: '\e814'; } /* '' */
.icon-up-dir:before { content: '\e815'; } /* '' */
.icon-down-dir:before { content: '\e816'; } /* '' */
.icon-right-dir:before { content: '\e817'; } /* '' */
.icon-down-open:before { content: '\e818'; } /* '' */
.icon-left-open:before { content: '\e819'; } /* '' */
.icon-right-open:before { content: '\e81a'; } /* '' */
.icon-up-open:before { content: '\e81b'; } /* '' */
.icon-check:before { content: '\e81c'; } /* '' */
.icon-person:before { content: '\e81d'; } /* '' */
.icon-star-1:before { content: '\e81e'; } /* '' */
.icon-clock-1:before { content: '\e81f'; } /* '' */
.icon-clock-2:before { content: '\e820'; } /* '' */
.icon-food:before { content: '\e821'; } /* '' */
.icon-attention-circled:before { content: '\e822'; } /* '' */
.icon-bell:before { content: '\e823'; } /* '' */
.icon-attention:before { content: '\e824'; } /* '' */
.icon-attention-alt:before { content: '\e825'; } /* '' */
.icon-help-circled:before { content: '\e826'; } /* '' */
.icon-minus-1:before { content: '\e827'; } /* '' */
.icon-plus-1:before { content: '\e828'; } /* '' */
.icon-shop:before { content: '\e829'; } /* '' */
.icon-basket-1:before { content: '\e82a'; } /* '' */
.icon-pencil:before { content: '\e82b'; } /* '' */
.icon-dot:before { content: '\e82c'; } /* '' */
.icon-monitor:before { content: '\e82d'; } /* '' */
.icon-picture:before { content: '\e82e'; } /* '' */
.icon-credit-card:before { content: '\e82f'; } /* '' */
.icon-login-1:before { content: '\e830'; } /* '' */
.icon-restaurant:before { content: '\e832'; } /* '' */
.icon-login:before { content: '\f02c'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook-1:before { content: '\f09a'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-mic:before { content: '\f130'; } /* '' */
.icon-ticket:before { content: '\f145'; } /* '' */
.icon-euro:before { content: '\f153'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-cab:before { content: '\f1b9'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-bicycle:before { content: '\f206'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-mail:before { content: '🕔'; } /* '\1f554' */
